{% include 'partials/head.html'%}
<body>
    <div class= 'main-content-container'>
        <form action="post" class="main-content-list-cadastro">
            <div>
                <input type="text" placeholder='Nome completo'class="cadastro-input"></input>
            </div>
            <div>
                <input type="date" placeholder="dd/mm/aaaa" class="cadastro-input"></input>
            </div>
            <div>
                <input type= 'text' placeholder='Usuario'class="cadastro-input"></input>
            </div>
            <div class="cadastro-input"></div>
            <div class="cadastro-input"></div>
            <div class="cadastro-input"></div>
            <div class="cadastro-input"></div>
            <div class="cadastro-input"></div>
            <div class="cadastro-input"></div>
            <div class="cadastro-input"></div>
        </form>
        <a  href= {% url 'nome da funcao' %}> <button></button></a>
    </div>
   
</body>
</html>