{% include 'partials/head.html' %}
<body>
    {%include 'partials/header.html'%}

    <main class= 'main-content-container'>
        <div class= 'main-content-list container '>
            <div class='list-image list'></div>
                <div class='list-image book'>
                    <img src='https://via.placeholder.com/250x150' alt='temp'><img>
                        <div>
                            dasdasdasdasd
                        </div>
                    </img>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
